@model HomeFixers.Models.ServiceProvider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.service.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
    <input type="button" class="btn btn-primary" title="Edit Profile" value="Edit Profile" onclick="location.href='@Url.Action("Edit", "ServiceProviders", new { id = Model.Id })'" />
</p>

@{ Html.RenderAction("bucketlist", new { id = Model.Id });}
